.App {
  /* text-align: center; */
}

li {}

img {
  width: 20px;
}

.list-item {
  padding: 1em;
  border: 1px rgba(128, 128, 128, 0.514) solid;
  border-bottom: 0.5px;
}


.scroll {
  max-height: 90vh;
  overflow-y: scroll;
  width: 100%
}